footer
    div.footer__content
        div.footer__content-row
            div.footer__about
                img(src='img/logo.jpg', alt='its our brand', class='header__logo-img')
                br
                | Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
                br
                br
                | Efficiently plagiarize 24/365 action items and focused infomediaries.
                | Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
            div.footer__company
                h1 Company
                a(href='#') Home
                br
                a(href='#') Shop
                br
                a(href='#') About
                br
                a(href='#') How it works
                br
                a(href='#') Contact
            div.footer__company
                h1 Information
                a(href='#') Tearms & Condition
                br
                a(href='#') Privacy Policy
                br
                a(href='#') How to Buy
                br
                a(href='#') How it Sell
                br
                a(href='#') Promotion
            div.footer__company
                h1 Shop Category
                a(href='#') Men
                br
                a(href='#') Women
                br
                a(href='#') Child
                br
                a(href='#') Apparel
                br
                a(href='#') Brows All

    div.footer__copy
        div.footer__copy-wrap
            div.footer__copy-wrap-text
                | &#169;2017 Brand All Rights Reserved
                div.footer__copy-wrap-icon
                    div.footer__copy-wrap-icon-item
                        i(class="fa fa-facebook")
                    div.footer__copy-wrap-icon-item
                        i(class="fa fa-twitter")
                    div.footer__copy-wrap-icon-item
                        i(class="fa fa-linkedin")
                    div.footer__copy-wrap-icon-item
                        i(class="fa fa-pinterest-p")
                    div.footer__copy-wrap-icon-item
                        i(class="fa fa-google-plus")