doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title GeekShop
        link(rel='stylesheet', type='text/css', href='css/styles.css')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
    body
        include components/header
        main
            div.slider__background
                div.slider-wrapper
                    div.slider
                        div.slider__text
                            h1 The Brand
                            br
                            |of luxerious
                            ="  "
                            span.slider__text-red fashion
                        div.slider__images
                            img(src='img/slider.png', alt='man in our brand')
            div.baners__wrapper
                div.baners__row
                    div.baners__row-col-wrap
                        div.baners__row-col
                            div.baners__big
                                img(src='img/man.jpg' alt='man clothes by our brand')
                                div.baners__plate hot deal
                                    br
                                    span.baners__plate-red for men
                            div.baners__small
                                img(src='img/acceseries.jpg' alt='accessoriesby our brand')
                                div.baners__plate luxirous & trendy
                                    br
                                    span.baners__plate-red accesories
                    div.baners__row-col-wrap
                        div.baners__row-col
                            div.baners__small
                                img(src='img/woman.jpg' alt='women clothes by our brand')
                                div.baners__plate 30% offer
                                    br
                                    span.baners__plate-red women
                            div.baners__big
                                img(src='img/kids.jpg' alt='kids clothes by our brand')
                                div.baners__plate new arrivals
                                    br
                                    span.baners__plate-red for kids
            div.shop__wapper
                div.shop__title
                    div.shop__title-text
                        h1 Fetured Items
                        br
                        | Shop for items based on what featured in this week
                div.shop__cards
                    div.shop__card
                        div.shop__card-img
                            div.shop__card-img-swadow
                            div.shop__card-img-add
                                i(class="sprite sprite-Forma-1-copy")
                                |Add to Cart
                            img(src='img/card1.jpg' alt='t-shirt')
                        div.shop__card-about
                            span.shop__card-desc  mango people t-shirt
                            br
                            span.shop__card-price $52.00
                    div.shop__card
                        div.shop__card-img
                            div.shop__card-img-swadow
                            div.shop__card-img-add
                                i(class="sprite sprite-Forma-1-copy")
                                | Add to Cart
                            img(src='img/card2.jpg' alt='t-shirt')
                        div.shop__card-about
                            span.shop__card-desc  mango people t-shirt
                            br
                            span.shop__card-price $52.00
                    div.shop__card
                        div.shop__card-img
                            div.shop__card-img-swadow
                            div.shop__card-img-add
                                i(class="sprite sprite-Forma-1-copy")
                                | Add to Cart
                            img(src="img/card3.jpg" alt='t-shirt')
                        div.shop__card-about
                            span.shop__card-desc  mango people t-shirt
                            br
                            span.shop__card-price $52.00
                    div.shop__card
                        div.shop__card-img
                            div.shop__card-img-swadow
                            div.shop__card-img-add
                                i(class="sprite sprite-Forma-1-copy")
                                | Add to Cart
                            img(src="img/card4.jpg" alt='t-shirt')
                        div.shop__card-about
                            span.shop__card-desc  mango people t-shirt
                            br
                            span.shop__card-price $52.00
                    div.shop__card
                        div.shop__card-img
                            div.shop__card-img-swadow
                            div.shop__card-img-add
                                i(class="sprite sprite-Forma-1-copy")
                                | Add to Cart
                            img(src="img/card5.jpg" alt='t-shirt')
                        div.shop__card-about
                            span.shop__card-desc  mango people t-shirt
                            br
                            span.shop__card-price $52.00
                    div.shop__card
                        div.shop__card-img
                            div.shop__card-img-swadow
                            div.shop__card-img-add
                                i(class="sprite sprite-Forma-1-copy")
                                | Add to Cart
                            img(src="img/card6.jpg" alt='t-shirt')
                        div.shop__card-about
                            span.shop__card-desc  mango people t-shirt
                            br
                            span.shop__card-price $52.00
                    div.shop__card
                        div.shop__card-img
                            div.shop__card-img-swadow
                            div.shop__card-img-add
                                i(class="sprite sprite-Forma-1-copy")
                                | Add to Cart
                            img(src="img/card7.jpg" alt='t-shirt')
                        div.shop__card-about
                            span.shop__card-desc  mango people t-shirt
                            br
                            span.shop__card-price $52.00
                    div.shop__card
                        div.shop__card-img
                            div.shop__card-img-swadow
                            div.shop__card-img-add
                                i(class="sprite sprite-Forma-1-copy")
                                | Add to Cart
                            img(src="img/card8.jpg" alt='t-shirt')
                        div.shop__card-about
                            span.shop__card-desc  mango people t-shirt
                            br
                            span.shop__card-price $52.00
                div.shop__button-area
                    div.shop__button.button-active Browse All Product
                        i(class="fa fa-long-arrow-right")
            div.adv__wrapper
                div.adv__row
                    div.avd__col-img
                        div.adv__text
                            span.adv__text-big 30%
                                span.adv__text-red OFFER
                            br
                            |for women
                    div.adv__col-text
                        div.adv__col-text-wrap
                            div.adv__col-text-item
                                div.adv__col-text-icon
                                    i(class='sprite sprite-Forma-1-_1_')
                                div.adv__col-text-title
                                        h2 Fre Delivery
                                        |Worldwide delivery on all. Authorit tively morph next-generatio
                            div.adv__col-text-item
                                div.adv__col-text-icon
                                    i(class='sprite sprite-Forma-1-_2_')
                                div.adv__col-text-title
                                        h2 Sales & discounts
                                        | Worldwide delivery on all. Authorit tively morph next-generatio
                            div.adv__col-text-item
                                div.adv__col-text-icon
                                    i(class='sprite sprite-Forma-1-_3_')
                                div.adv__col-text-title
                                        h2 Quality assurance
                                        | Worldwide delivery on all. Authorit tively morph next-generatio

            include components/revie

        include components/footer